@media only screen and (max-width:2560px) {
    body {
        font-size: 18px;
    }
}


@media only screen and (max-width:1440px) {
    body {
        font-size: 15px;
    }
}

@media only screen and (max-width:1024px) {
    body {
        font-size: 14px;
    }
    .blog-post {
        padding: 1rem 4rem;
    }
}

@media only screen and (max-width:768px) {
    body {
        font-size: 12px;
    }
}

@media only screen and (max-width:730px) {
    .page-topics-container {
        flex-direction: column;
    }
    .page-topics, .page-authors, .page-solutions {
        margin-bottom: 3rem;
    }
    .blog-post {
        padding: 1rem .4rem;
    }
    .badge-wrapper img {
        width: 120px;
    }
    .badge-wrapper {
        width: 70vw;
    }
    .cookies-wrapper {
        padding: 1rem;
    }
    .cookies-wrapper a {
        padding: .3rem 2.5rem;
    }
    .cookies-section {
        padding: 3rem 1rem;
    }
    .footer-container {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
        padding-left: 1rem;
        padding-right: 1.2em;
    }
    .footer-two ul li a {
        margin-right: .5rem;
    }

    .btn-2 a {
        margin-right: 0rem;
        padding: .5rem 1.5rem;
        display: inline-block;
        margin-bottom: 1rem;
        width: 60vw
    }
    .hero-new-section {
        line-height: 2rem;
    }
    .footer-two ul {
        display: flex;
        padding-top: 1rem;
    }
    .footer-two ul li a {
        font-size: .7rem;
    }
    .blog-container {
        width: 100%;
    }  
    .blog-post-details {
        line-height: 24px;
        flex-basis: 60%;
    }  
    .number-post, .timestamp {
        line-height: 27px;
    }
    header ul {
        flex-direction: column;
        line-height: 30px;
    }
    .header-list {
        display: none;
    }
    .bars {
        display: block;
    }
}